.login-form {
    width: 400px;
    min-height: 200px;
}
.login-form form {
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-form h2 {
    margin: 0 0 15px;
}
.login-form .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-btn {        
    font-size: 15px;
    font-weight: bold;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left; 
    line-height: 24px;       
}
.social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
}
.input-group-addon .fa{
    font-size: 18px;
}

body .btn-fb, body .btn-fb:hover, body .btn-fb:active{
    color: #fff !important;
    background-color: #f18024 !important;
    border-color: #f18024 !important;
    box-shadow: none !important;
}

body .btn-gg, body .btn-gg:hover, body .btn-gg:active{
    color: #33363a !important;
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
    box-shadow: none !important;
}

body .login-btn {
    background-color: #f18024 !important;
    border-color: #f18024 !important;
    box-shadow: none !important;
}

body .login-btn:hover, body .login-btn:active{
    background-color: #cb620d !important;
    border-color: #cb620d !important;
}

body .text-success.custom-text-success, body .text-success.custom-text-success:hover, body .text-success.custom-text-success:active {
    color: #f18024 !important;
}


.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(241,128,36,.2);
    border-radius: 50%;
    border-top-color: #f18024;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

button.btn.btn-block.login-btn {
    display: inline-block;
    margin-top: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.container {
    padding: 0px;
}

.form-group {
    margin-bottom: 0px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
}

.white-anchor:hover{
    color: #fff;
    text-decoration: underline;
}

.white-anchor{
    color: #fff;
    text-decoration: none;
    background-color: initial;
}

.form-control:focus{
    border-color: #f18024;
    box-shadow: 0 0 0 0.2rem rgba(241, 128, 36, 0.25);
}