@media (max-width: 767px){
  
	.voicelink-mob .col-1, .voicelink-mob .col-2, .voicelink-mob .col-4 {
	    width: 100%;
	    max-width: 100%;
	    flex: none;
	    text-align: center;
	    margin-bottom: 5px;
  	}
}