<template>
    <b-card  no-body>
        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
            <div @click.prevent="toggleItem($event,data.id)" :class="{'d-flex flex-row':true,'active' : selectedItems.includes(data.id)}" class="custom-control custom-checkbox custom-checkbox-child pl-1 align-self-center pr-4">
                <b-form-checkbox :checked="selectedItems.includes(data.id)" class="itemCheck itemCheckChild mb-0"/>
            </div>
            <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                <router-link :to="`?p=${data.id}`" class="w-40 w-sm-100">
                    <p class="list-item-heading mb-1 truncate">{{data.bookmark_title}}</p>
                </router-link>
                <p class="mb-1 text-muted text-small w-15 w-sm-100">{{data.bookmark_type}}</p>
                <div class="mb-1 text-muted text-small w-40 w-sm-100" v-if="data.bookmark_url.indexOf('http') > -1">
                  <a :href="`${data.bookmark_url}`" target="_blank" class="w-40 w-sm-100">
                <p >{{data.bookmark_url}}</p>
                </a>
                </div>
                <div class="mb-1 text-muted text-small w-40 w-sm-100" v-else>
                  <a :href="`https://${data.bookmark_url}`" target="_blank" class="w-40 w-sm-100">
                <p class="mb-1 text-muted text-small w-40 w-sm-100">{{data.bookmark_url}}</p>
                </a>
                </div>

                
            </div>
        </div>
    </b-card>
</template>
<script>
export default {
  props: ['data', 'selectedItems'],
  methods: {
    toggleItem (event, itemId) {
      console.log(event,itemId);
      this.$emit('toggle-item', event, itemId)
    }
  }
}
</script>
<style>
body div.custom-checkbox-child .custom-control-input{
  left: unset !important;
  top: unset !important;
}
body input[type="radio"].itemCheckChild, body input[type="checkbox"].itemCheckChild{
  -webkit-box-sizing: unset;
}
</style>
