<template>
  <b-colxx class="disable-text-selection">
    <div>
      <b-row>
        <b-colxx xxs="12">
          <h1>Change Password</h1>
          <piaf-breadcrumb/>
          <div class="separator mb-5"/>
        </b-colxx>
      </b-row>
      <template v-if="isLoad">
        <!-- <b-form @submit.prevent="formSubmit"> -->
        <div class="form-side">
            <b-form class="col-sm-5" @submit.prevent="formSubmit">
                <label class="form-group has-float-label mb-1">
                  <input type="text" v-validate="{ required: true, min: 6 }" class="form-control" v-model="currentPassword" name="current">
                  <div v-show="errors.has('current')" class="text-danger">{{ errors.first('current') }}</div>
                  <span>Current Password</span>
                </label>
                <br/>
                <label class="form-group has-float-label mb-1">
                  <input type="text" name="new" v-validate="{ required: true, min: 6 }" class="form-control" v-model="newPassword">
                  <div v-show="errors.has('new')" class="text-danger">{{ errors.first('new') }}</div>
                  <span>New Password</span>
                </label>
                <br/>
                <label class="form-group has-float-label mb-1">
                  <input type="text" name="confirm" class="form-control" v-validate="{ required: true, min: 6, confirmed:newPassword }" v-model="confNewPassword">
                  <div v-show="errors.has('confirm')" class="text-danger">{{ errors.first('confirm') }}</div>
                  <span>Confirm Password</span>
                </label>
                <br/>
                <div class="d-flex justify-content-end align-items-center">
                  <b-button type="submit" variant="primary" size="lg" class="btn-shadow">{{ $t('user.reset-password-button')}}</b-button>
                </div>
            </b-form>
        </div>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </div>
  </b-colxx>
</template>
<script>
import { DataListIcon } from '@/components/Svg'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import axios from 'axios'

import DataListItem from '@/components/Listing/DataListItem'
import { apiUrl } from '@/constants/config'
import { mapGetters, mapActions } from 'vuex'
import { Auth } from 'aws-amplify'
// import { Validator } from 'vee-validate'


export default {
  components: {
    DataListIcon,
    vSelect,
    DataListItem
  },
  data () {
    return {
      isLoad: true,
      currentPassword: "",
      newPassword: "",
      confNewPassword: ""
    }
  },
  methods: {
    formSubmit(){
      var This = this;
      this.$validator.validateAll().then((result) => {
        if(result){
          Auth.currentAuthenticatedUser().then(user => {
            console.log(user);
            Auth.changePassword(
              user,
              This.currentPassword,
              This.newPassword
            ).then( suc => {
              this.currentPassword = ""
              this.newPassword = ""
              this.confNewPassword = ""
              console.log(suc);
              this.$notify('success', 'Success', "Password has been changed successfully.", { duration: 3000, permanent: false })
            }, err => {
              console.log(err);
              this.$notify('error', 'Error occured', err.message, { duration: 3000, permanent: false })
            });
          }, err => {
            this.$notify('error', 'Error occured', "Please try again.", { duration: 3000, permanent: false })
            console.log(err);
          });
        }
      });
    }
  },
  computed: {
  },
  watch: {
  },
  mounted () {
    const dict = {
        custom: {
            current: {
            required: 'The Current Password field is required.',
            min: 'The Current Password field must be at least 6 characters.'
            },
            new: {
            required: 'The New Password field is required.',
            min: 'The New Password field must be at least 6 characters.'
            },
            confirm: {
                required: 'The Confirm Password field is required.',
                min: 'The Confirm Password field must be at least 6 characters.',
                confirmed: 'The New Password and Confirm Password does not match.'
            }
        }
    };

    this.$validator.localize('en', dict);
  }
}
</script>
